<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config />
    <context:component-scan base-package="by.kozik.quest.service" />
    <context:component-scan base-package="by.kozik.quest.service.impl" />
    <context:component-scan base-package="by.kozik.quest.service.impl.dozer" />
    <import resource="classpath:applicationContext-dao.xml" />

    <bean class="org.dozer.spring.DozerBeanMapperFactoryBean">
        <property name="mappingFiles" value="classpath:/mapping/*_mapping.xml" />

        <property name="customConverters">
            <list>
                <bean class="by.kozik.quest.service.impl.dozer.PermissionsToNamesConverter" />
                <bean class="by.kozik.quest.service.impl.dozer.RolesToAuthoritiesConverter" />
                <bean class="by.kozik.quest.service.impl.dozer.RolesToRoleNameConverter" />
                <bean class="by.kozik.quest.service.impl.dozer.DateToStringConverter"/>
                <bean class="by.kozik.quest.service.impl.dozer.ListToSizeConverter"/>
                <bean class="by.kozik.quest.service.impl.dozer.QuestToIdConverter"/>
                <bean class="by.kozik.quest.service.impl.dozer.UserToIdConverter"/>
                <bean class="by.kozik.quest.service.impl.dozer.UserAnswerResultConverter"/>
            </list>
        </property>
    </bean>
</beans>
